<div class="pr-5 pl-5">
  <!-- Home Windows -->
  <div class="row " *ngIf="SelectedData">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mx-auto mb-3 mt-3 col_perfil" >
      <!-- Seller Card -->
      <div class="">

          <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex text-left pt-2 w-50">
                <h3 class="m-auto">
                    {{SelectedData.nombres+' '+SelectedData.apellidos}}s
                </h3>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 w-50">
                    <div class="shadow-Main">
                        <img class="img-profile" src="{{(SelectedData.foto && SelectedData.foto!='null' && SelectedData.foto!='')?SelectedData.foto:'./../../../assets/png/03-BienvenidaAPP/Group2416.png'}}" alt="Avatar">
                      <!-- <a type="button" class="close" (click)="uploadImg()"><i class="fa fa-edit"></i></a> -->
                  </div>
                </div>
          </div>


            <!-- info seller Area -->
          <div class="row ml-0 mr-0 w-100" >
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pb-1 text-center" *ngIf="tipoUsuario!=1">
                <small class="text-secondary color-white">Te ha registrado como {{SelectedData.roles.titulo}}, puedes proceder al reportes o modificar tu perfil</small>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-3 text-center">

                <a class="btn btn-primary form-control border-black" [class.d-none]="tipoUsuario!=2" (click)="irEncuesta()">Vamos al Reportes</a>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  text-center mb-3">
                <a [routerLink]="['./../profile']" class="color-white">Editar Perfil</a>
              </div>
            </div>
            <!-- Fin info seller Area -->






      </div>
      <!-- Fin Seller Card -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [class.d-none]="tipoUsuario==3"  *ngIf="tipoUsuario!=1">
        <table class="table table-hover" *ngIf="Table" [mfData]="Table" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th style="width:40%;">
                      <mfDefaultSorter by="titulo">Titulo</mfDefaultSorter></th>
                    <th style="width:40%;">
                      <mfDefaultSorter by="inicio">Fecha</mfDefaultSorter></th>
                    <th style="width:20%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of mf.data">
                    <td>{{ data.titulo }}</td>
                    <td>{{ data.inicio }}</td>
                    <td>
                      <button type="button" class="btn btn-warning" [routerLink]="['./../encuesta',data.id]" style="cursor:pointer;"><i class="fa fa-eye"></i> Ver</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" style="text-align: center;">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
          </table>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"  *ngIf="tipoUsuario==1">


      <div class="form-check form-check-inline" *ngFor="let data of filters">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{data.id}}" value="{{data.id}}" [(ngModel)]="filterSelected">
        <label class="form-check-label" for="inlineRadio{{data.id}}">{{data.titulo}}</label>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 w-100" *ngIf="filterSelected==1">
        <p class="text-left text">
            Marca
          </p>
        <div class="form-group">
            <div class="input-group ">
              <select name="marca" id="marca" ngModel #marca="ngModel" class="form-control text border-morado fecha">
                <option value="">Escoge la marca que deseas trabajar</option>
                <option *ngFor="let data of filters[filterSelected-1].filtro" value="{{data.id}}">{{data.id}}</option>
              </select>
            </div>
          </div>
    </div>



        <table class="table table-hover" *ngIf="UTable" [mfData]="UTable" #mf="mfDataTable" [mfRowsOnPage]="5">
            <thead>
                <tr>
                    <th style="width:40%;">
                      <mfDefaultSorter by="titulo">Titulo</mfDefaultSorter></th>
                    <th style="width:40%;">
                      <mfDefaultSorter by="inicio">Fecha</mfDefaultSorter></th>
                    <th style="width:20%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of mf.data">
                    <td>{{ data.titulo }}</td>
                    <td>{{ data.inicio }}</td>
                    <td>
                      <button type="button" class="btn btn-warning" [routerLink]="['./../encuesta',data.id]" style="cursor:pointer;"><i class="fa fa-eye"></i> Ver</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" style="text-align: center;">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
            </tfoot>
          </table>
    </div>

    <!-- Fin Main Home Page -->
  </div>

  <!-- Fin Home Windows -->
</div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

<div class="modal fade" id="ActualizaPass">
  <div class="modal-dialog">
    <form class="modal-content" autocomplete="off" #recoveryForm="ngForm" (ngSubmit)="changePass(recoveryForm.value)">
      <div class="modal-header">
          <h4 class="modal-title">Tu clave fue reseteada, debes cambiarla</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Escribe otra vez la clave que te enviamos" id="old_pass" name="old_pass" required
                  ngModel #old_pass="ngModel">
              </div>
            </div>
          <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Crea una nueva clave" id="new_pass" name="new_pass" required
                  ngModel #new_pass="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Confirma tu nueva clave" id="new_pass_rep" name="new_pass_rep" required
                  ngModel #new_pass_rep="ngModel">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="(new_pass.value!=new_pass_rep.value) || new_pass.value==''">Change Password</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
