<div class="pr-5 pl-5 mt-5">
    <!-- Home Windows -->
    <div class="row pt-3" *ngIf="SelectedData">
      <form class="col-xs-8 col-sm-8 col-md-8 col-lg-8 mx-auto mb-3 mt-3 shadow row profile-main " *ngIf="SelectedData">
        <!-- Seller Card -->

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 d-flex">
            <input type="text" name="nombre" id="nombre" ngModel #nombre="ngModel" class="form-control m-auto" [(ngModel)]="SelectedData.nombre">
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="shadow-Main">
                  <img class="img-profile mt-3" src="{{(SelectedData.foto && SelectedData.foto!='null' && SelectedData.foto!='')?SelectedData.foto:'./../../../assets/png/03-BienvenidaAPP/Group2416.png'}}" alt="Avatar">
                </div>
          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex">
            <i class="fa fa-calendar m-auto"></i>
          </div>

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left py-2">
              <label for="nacimiento" class="">Fecha de Nacimiento</label>
            <input type="text" name="nacimiento" id="nacimiento" ngModel #nacimiento="ngModel" class="form-control" [(ngModel)]="SelectedData.nacimiento">

          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex">
              <i class="fa fa-clock-o m-auto"></i>
          </div>

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left py-2">

            <label for="created_at" class="">Fecha de ingreso</label>

            <input type="text" name="created_at" id="created_at" disabled ngModel #created_at="ngModel" class="form-control" [(ngModel)]="SelectedData.created_at">

          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex">
            <i class="fa fa-map-marker m-auto"></i>
          </div>

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left py-2">

            <label for="descripcion" class="">Direccion</label>
            <input type="text" name="descripcion" id="descripcion" ngModel #descripcion="ngModel" class="form-control" [(ngModel)]="SelectedData.descripcion">

          </div>

          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 d-flex">
            <i class="fa fa-phone m-auto"></i>
          </div>

          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left py-2">

            <label for="telefono" class="">Telefono</label>
            <input type="text" name="telefono" id="telefono" ngModel #telefono="ngModel" class="form-control" [(ngModel)]="SelectedData.telefono">

          </div>


          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 mx-auto py-3">

            <button type="button" class="btn btn-primary form-control" (click)="update(SelectedData)">Actualizar Informacion</button>

          </div>




        <!-- Fin Seller Card -->
      </form>
      <!-- Fin Main Home Page -->
    </div>

    <!-- Fin Home Windows -->
  </div>

    <!-- Inicio Notificaciones -->
    <simple-notifications [options]="options"></simple-notifications>
    <!-- Fin Notificaciones -->

  <div class="modal fade" id="ActualizaPass">
    <div class="modal-dialog">
      <form class="modal-content" autocomplete="off" #recoveryForm="ngForm" (ngSubmit)="changePass(recoveryForm.value)">
        <div class="modal-header">
            <h4 class="modal-title">Tu clave fue reseteada, debes cambiarla</h4>
        </div>
        <div class="modal-body">
              <div class="form-group">
                <div class="input-group mb-3">
                    <input type="password" class="form-control bishound-input" placeholder="Escribe otra vez la clave que te enviamos" id="old_pass" name="old_pass" required
                    ngModel #old_pass="ngModel">
                </div>
              </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="password" class="form-control bishound-input" placeholder="Crea una nueva clave" id="new_pass" name="new_pass" required
                    ngModel #new_pass="ngModel">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group mb-3">
                    <input type="password" class="form-control bishound-input" placeholder="Confirma tu nueva clave" id="new_pass_rep" name="new_pass_rep" required
                    ngModel #new_pass_rep="ngModel">
                </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="(new_pass.value!=new_pass_rep.value) || new_pass.value==''">Change Password</button>
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
