
<div class="">
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 text-left border-secondary round-border">
          <form class="form-signin m-5" autocomplete="off" id="register-form"  #registerForm="ngForm" (ngSubmit)="insert(registerForm.value)">

            <h1 class="h3 text-dark mb-3 mt-3 font-weight-bold">Formulario de Aplicacion</h1>
              <div class="row">
                <div class="my-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="text" name="nombres" id="nombres" ngModel #nombres="ngModel" class="form-control" placeholder="Nombre" required="required" title="Nombre">
                </div>
                <div class="my-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="text" name="apellidos" id="apellidos" ngModel #apellidos="ngModel" class="form-control" placeholder="Apellido" required="required" title="Apellido">
                </div>
                <div class="my-2 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <input type="text" name="telefono" id="telefono" ngModel #telefono="ngModel" class="form-control" placeholder="Telefono" required="required" title="Telefono" (keyup)="calidarTele($event)" [(ngModel)]="numeroTelefono">
                </div>
                <div class="my-2 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <input type="text" name="dpi" id="dpi" ngModel #dpi="ngModel" class="form-control " placeholder="DPI" required="required" title="DPI" (keyup)="cuiIsValid($event)" [(ngModel)]="DPI">
                </div>
                <div class="my-2 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <input type="email" name="email" id="email" ngModel #email="ngModel" [email]="true" [ngClass]="{'border border-danger': ((email.dirty || email.touched) && email.invalid ),'border border-success': ((email.dirty || email.touched) && !email.invalid )}" class="form-control" placeholder="Correo Electronico" required="required" title="Correo Electronico">
                </div>

                <div class="my-2 col-xs-12 col-sm-8 col-md-6 col-lg-4  offset-sm-2 offset-md-3 offset-lg-4">
                    <button class="btn btn-lg btn-primary btn-block" [disabled]="!enviarData" type="submit">Enviar</button>
                </div>

            </div>
          </form>

      </div>
    </div>

  </div>


