<div class="pr-5 pl-5 mt-5">
  <!-- Home Windows -->
  <form class="row pt-3" *ngIf="mainData">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto mb-3 mt-3 shadow profile-main h-100">


      <div class="row p-3 profile-main">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row pt-3">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="input-group ">
                        <input type="date" name="fecha_inicio" id="fecha_inicio" ngModel #fecha_inicio="ngModel" class="form-control" [(ngModel)]="mainData.fecha_inicio">
                    </div>
                  </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <div class="input-group ">
                        <input type="time" class="form-control" name="hora_inicio" id="hora_inicio" ngModel #hora_inicio="ngModel"  [(ngModel)]="mainData.hora_inicio">
                    </div>
                  </div>
            </div>

          </div>
      </div>

      <div class="row profile-main  p-3">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <p>Número de Asistentes</p>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

          <input type="number" class="form-control" name="asistentes" id="asistentes" ngModel #asistentes="ngModel"  [(ngModel)]="mainData.asistentes">

        </div>

      </div>


      <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-3">
            <ngui-map
            class="shadow p-3 profile-main"
            zoom="10"
            center="14.66430813990437, -90.51446914672852"
            (mapClick)="onMapClick($event)"
            mapTypeId="roadmap">
              <marker
                [position]="positions"
                (initialized$)="onMarkerInit($event)"></marker>
          </ngui-map>



        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row text-left" style="padding:0px;margin:0px;">

            <div class="form-group mt-3 shadow p-3 profile-main">
                <label for="inputventas" class="text-primary control-label">Número de Ventas</label>
                <div class="">
                  <input type="numer" class="form-control" name="ventas" id="ventas" ngModel #ventas="ngModel"  [(ngModel)]="mainData.ventas">
                </div>
              </div>

          <div class="form-group mt-3 shadow p-3 profile-main">
            <label for="inputventas" class="text-primary control-label">Comentarios</label>
            <div class="">
              <input type="numer" name="ventas" id="inputventas" class="form-control" value="" required="required" pattern="" title="">
            </div>
          </div>




        </div>


      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-3">

          <button type="button" (click)="insert({data:1})" class="btn btn-primary">Submit</button>

        </div>
      </div>

    </div>




    <!-- Fin Main Home Page -->
</form>

  <!-- Fin Home Windows -->
</div>

  <!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
  <!-- Fin Notificaciones -->

<div class="modal fade" id="ActualizaPass">
  <div class="modal-dialog">
    <form class="modal-content" autocomplete="off" #recoveryForm="ngForm" (ngSubmit)="changePass(recoveryForm.value)">
      <div class="modal-header">
          <h4 class="modal-title">Tu clave fue reseteada, debes cambiarla</h4>
      </div>
      <div class="modal-body">
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Escribe otra vez la clave que te enviamos" id="old_pass" name="old_pass" required
                  ngModel #old_pass="ngModel">
              </div>
            </div>
          <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Crea una nueva clave" id="new_pass" name="new_pass" required
                  ngModel #new_pass="ngModel">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                  <input type="password" class="form-control bishound-input" placeholder="Confirma tu nueva clave" id="new_pass_rep" name="new_pass_rep" required
                  ngModel #new_pass_rep="ngModel">
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="(new_pass.value!=new_pass_rep.value) || new_pass.value==''">Change Password</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </form>
  </div>
</div>
