<div class="  h-100" [class.promotor]="type=='Promotor'" [class.edecan]="type=='Edecan'" [class.administrador]="type=='Administrador'">
  <div style="height: 100vh" class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top:auto;margin-bottom: auto;">
                  <h1 class="h3 mb-3 text-primary font-weight-normal" >Log In/Sign In</h1>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center pt-3" style="margin-bottom: auto;">
        <form class="form-signin" autocomplete="off" id="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="input-group mb-2">
              <input type="text" class="form-control shadow-input" name="username" required
              ngModel #username="ngModel" placeholder="Usuario">
            </div>

            <div class="input-group mb-3">
              <input type="password" class="form-control shadow-input" name="password" required
              ngModel #password="ngModel" placeholder="Password">
            </div>
            <!-- Remember me and forgot pass area -->
            <div class="mb-3 row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                  <a class="c-celeste-bishound" [routerLink]="['./../recovery']">¿Olvidaste tu contraseña?</a>
              </div>
            </div>
            <!-- Fin Remember me and forgot pass area -->
            <button class="btn btn-lg btn-primary btn-block" type="submit">¡Comencemos!</button>
          </form>

    </div>
  </div>

</div>


<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->

