<div class="row">
  <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 10%;">
    <h1>¡Bienvenido!</h1>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3" style="height:40%;">

    <button type="button" class="btn btn-primary h-100 w-100 " [routerLink]="['./login/Promotor']">
      <img src="./../../../assets/png/01-Bienvenido/Promotor.png">
      <h3>
        Promotor
      </h3>
    </button>

  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3" style="height:40%;">

    <button type="button" class="btn btn-outline-primary h-100 w-100 " [routerLink]="['./login/Edecan']">
      <img src="./../../../assets/png/01-Bienvenido/casting.png">
      <h3>
        Edecan
      </h3>
    </button>

  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3" style="height:5%;">

    <button type="button" class="btn btn-primary form-control pb-3" [routerLink]="['./login/Administrador']">
      <h4>
        Administrador
      </h4>
    </button>

  </div>

</div>
