/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html,
.body {
  width: 100% !important;
  height: auto !important;
  font-size: 1rem;
  text-align: left;
}
html, body {
  background-color: #ffffff !important;
}

.header{
  text-align: center;
  width: 100%;
  height: 5rem;
  background-image: url(./assets/png/01-Bienvenido/MaskGroup15.png);
  background-size: 100% 100%;

}
.header > .logo{
  height: 80%;
}
.header > .cover{
  position: absolute;
  z-index: 1;
}
.cuerpo{
  text-align: center;
  width: 100%;
  height: 90%;
}
.cuerpo  .row{
  text-align: center;
  height: 90%;
}

.shadow-input{
  box-shadow: 0 1px 5px rgba(27,31,35,0.15) !important;
  border: 0px;
  font-size: 12pt;
}
.promotor{
  background-image: url(./assets/png/02-LogIn/PromotoryAdministrador/Image19.png);
  background-position: -350% bottom;
  background-repeat: no-repeat;
  background-size: 90% 80%;
  background-attachment: fixed;

}
.edecan{
  background-image: url(./assets/png/02-LogIn/Edecan/Group2500.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 90% 100%;

}

.administrador{
  background-image: url(./assets/png/02-LogIn/PromotoryAdministrador/Image19.png);
  background-position: 135% bottom;
  background-repeat: no-repeat;
  background-size: 60% 65%;

}
