/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
html,
.body {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem;
  text-align: left;
}
html, body {
  background-color: #ffffff !important;
}

.header{

}
